{% extends 'a_text/welcome.html' %}

{% block content %}
	<div class="container">
		<div class="row ml-0" >

			<div class="col-sm-9 text-white" id="conttext">
				<form action="" method="POST" class="d-inline">
					{% csrf_token %}
					{{ form.media }}
					{{ form.as_p }}

					<input type="submit" class="btn btn-lg btn-success " id="btn" value="Analyse">
				</form>
			</div>			
			<!------------------------------------------------------->
			<div class="col-sm-3 offset-1 text-right" id="contresult">
			<h4 class="alert border-rounded text-white text-center" id="head">Recents</h4>
				{% if Textdb %}
					<table class="table table-hover mt-1 text-white">
					  <thead>
					    <tr>
					      <th scope="col">SRNO</th>
					      <th scope="col">TOPIC</th>
					      <th scope="col">RESULT</th>
					      <th scope="col"></th>
					    </tr>
					  </thead>
					  <tbody>

					  	{% for k in Textdb %}
							{% with numb=forloop.counter %}

						    <tr class="text-dark text-white">
						     	 <th scope="row">{{numb}}</th>
							{% endwith %}
						     	 <td>{{k.keyword}}</td>
						     	 <td class="d-flex align-items-center ">
						     	 	<a href="{% url 'resultText' k.id %}" class="btn-sm btn btn-success m-2" >View</a>

						     	 	<form action="{% url 'deleteText' k.id %}" method="POST" class="d-inline m-2">
				      					{% csrf_token %}
				      					<input type="submit" class="btn-sm btn-danger btn" value="Del">
				      				</form>
						     	 </td> 
						    </tr>
					  	{% endfor %}
					  </tbody>
					</table>

				{% endif %}  
			</div>
		</div>

	</div>
{% endblock content %}
